* {
	box-sizing: border-box;
}

body {
text-align: center;
background-color: antiquewhite;

}

iframe {
	
	border: 0;
	width: 100%;
	height: 100%;

}

.column {
	margin:0 auto;
	display: block;
    width: 100vw;
	height: 5vh;
	transition: 1s;

}

#info {
	margin:0 auto;
	display: block;
    position: fixed;
	width: 100vw;
	height: 50vh;
	transition: 1s;
	font-family: serif;
	color: orangered;
	font-size: 18px;
}

.image {
	margin:0 auto;
	display: block;
    width: 50vw;
	height: 5vh;
	transition: 1s;

}

#expand {
	margin:0 auto;
	display: block;
    position: fixed;
	width: 50vw;
	height: 50vh;
	transition: 1s;
	font-family: serif;
	color: orangered;
	font-size: 18px;
}

