section{    
    height: 100vh;
    font-size: 1rem;
    line-height: 1.5;
    font-family: cursive;
    margin: 0px;
    font-kerning: 1;
    position: relative;
    left: 1rem;
}
main{
    overflow: hidden;
    height: 100vh;
    background-color: #ffffec;
    margin:0 auto;
    position: relative;

}
.page{
    width:45vw;
    height:50vh;
}
h1{
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 0px;
    font-stretch: expanded;  line-height: 0.5;
   
    font-weight: lighter;
}

body{
    margin: 0px;
    overflow: hidden;
}
#cover{
    width: 100vw;
    text-align: right;
    height: 50vh;
  
}
.one{
    margin: 0px;
    text-align: justify;
}
#one{
    grid-column: 2/6;
    grid-row: 1/4;
}


h2{
    text-align: right;
    z-index: 2;
    background-color: rgb(255, 0, 0);
}




